@model Adz.User.CMS.Models.PushNotificationModel
@{
    ViewBag.Title = "Create Push Notification";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Kendo.Mvc.UI
<script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/fancy/jquery.fancybox.css")">
<script type="text/javascript">
    $(document).ready(function () {
        changeverticalnav(26);
        $(document).tooltip();
        $('.fancybox').fancybox();
    });
</script>

<div class="rightheader">
    <h1>Push Notification</h1>
    <div class="pagelink">
        <a href="#">Admin Portal</a> /
        <a href="@Url.Action("Add", "PushNotification")">Push Notification</a> /
        <a>Create</a>
    </div>
</div>

<div id="msgbox">
    @if (ViewBag.msg != null && ViewBag.msg != "")
    {
        if (ViewBag.msg == "a1")
        {
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Success!</h4>
                Successfully sent Push Notification.
            </div>
        }
        else
        { 
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Error</h4>
                @ViewBag.msg
            </div>
        }
    }
</div>

<div class="rightcontent">
    <div class="rightrow">
        <div class="col-lg-12">
            <div class="panel panel-default">
                @using (Html.BeginForm())
                {
                    <div class="panel-body">
                        <h4>Create Push Notification</h4><hr />
                        <div class="col-lg-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Information
                                </div>
                                <div class="panel-body">
                                    <div class="leftcol">@Html.LabelFor(model => model.Message)<span class="must-be-filled">*</span></div>
                                    <div class="rightcol">@Html.TextAreaFor(model => model.Message, new { @style = "width: 100%;" })@Html.ValidationMessageFor(model => model.Message)</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <input type="submit" value="Submit" class="k-button" onclick="return UpdateConf()" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function UpdateConf() {
        var r = confirm("Confirm create Push Notification?");
        if (r == true) { return true; }
        else return false;
    }
</script>