@model Adz.User.CMS.Models.AdminModel.Admin
@{
    ViewBag.Title = "Admin View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Kendo.Mvc.UI
<script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/fancy/jquery.fancybox.css")">
<script type="text/javascript">
    $(document).ready(function () {
        @if (Model.LastAction != "5") {
            <text>changeverticalnav(23);</text>
        }
        else
        {
            <text>changeverticalnav(24);</text>
        }
        $(document).tooltip();
        $('.fancybox').fancybox();
    });
</script>

<div class="rightheader">
    <h1>Admin Information</h1>
    <div class="pagelink">
        <a href="#">Admin Portal</a> /
        <a href="@Url.Action("Admin", "Admin")">Admin</a> /
        <a>Admin View</a>
    </div>
</div>

@if (ViewBag.msg != null && ViewBag.msg != "")
{
    <div class="alert alert-block alert-danger">
        <a class="close" data-dismiss="alert" href="#">X</a>
        <h4 class="alert-heading">Error</h4>
        @ViewBag.msg
    </div>
}

<div class="rightcontent">
    <div class="rightrow">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>View Admin</h4><hr />
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Personal Information
                            </div>
                            <div class="panel-body">
                                <div class="leftcol">@Html.LabelFor(model => model.FirstName)</div>
                                <div class="rightcol">@Model.FirstName</div>
                                <div class="leftcol">@Html.LabelFor(model => model.LastName)</div>
                                <div class="rightcol">@Model.LastName</div>
                                <div class="leftcol">@Html.LabelFor(model => model.Email)</div>
                                <div class="rightcol">@Model.Email</div>
                                <div class="leftcol">@Html.LabelFor(model => model.RoleName)</div>
                                <div class="rightcol">@Model.RoleName</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        @if (Model.LastAction != "5")
                        {
                            <a href="@Url.Action("AdminEdit","Admin")?AdminId=@Model.AdminId" class="k-button">Edit</a>
                            <a href="@Url.Action("Admin", "Admin")" class="k-button">Back</a>
                        }
                        else
                        {
                            <a href="@Url.Action("AdminArchive", "Admin")" class="k-button">Back</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>