
@{
    ViewBag.Title = "ImageMulti";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.ui.widget.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.fileupload.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.iframe-transport.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        document.getElementById("imagefile").onchange = function () {
            document.getElementById("imagefiletitle").value = this.value;
        };
    });
</script>

<script>
    $(document).ready(function () {
        //
        // Handles the file upload
        //
        $('#fileupload').fileupload({
            type: 'post',
            // Handles the server side validation on file type
            done: function (e, data) {
                var jsonArray = JSON.parse(data.result);
                //alert(jsonArray["imageurl"]+" # "+jsonArray["imagename"]+" # "+jsonArray["message"]+" # "+jsonArray["isUpload"]+" # "+jsonArray["imageid"]);

                $(".loadingshow").css("display", "none");
                //console.log('imageend');
                //console.log(data);
                if (jsonArray["isUpload"]) {
                    var draft = parent.document.getElementById("tempChooseDraft").value;
                    parent.document.getElementById("tempChooseDraft").value = draft + "," + jsonArray["imageid"];
                    var cho = jsonArray["imageid"] + ",'" + jsonArray["imagename"] + "','" + jsonArray["imageurl"] + "'";

                    var html = '<img id="img' + jsonArray["imageid"] + '" src="' + jsonArray["imageurl"] + '" class="imgth" onclick="chooseitem(' + cho + ')" />';
                    html += '<div id="iconimg' + jsonArray["imageid"] + '" class="deleteIcon glyphicon glyphicon-remove-circle" onclick="deleteImage(' + jsonArray["imageid"] + ')"></div>';

                    $("#imagelistitem").prepend(html);

                    chooseitem(jsonArray["imageid"], jsonArray["imagename"], jsonArray["imageurl"]);
                }
                else {
                    console.log(jsonArray["message"]);
                }
            },
            progressall: function (e, data) {
                // Handle the progress bar
                $(".loadingshow").css("display", "block");
            },
            fail: function (event, data) {
                $(".loadingshow").css("display", "none");
                //console.log('imagefailed');
                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            }
        });

    });
</script>

<div class="loadingshow" style="display:none">
    <div class="loadingindicatorwrap"></div>
    <div class="loadingindicator"><div></div></div>
</div>
<div class="imageuploadwrap">
    <h2>Add Image</h2>
    <div>
        <div class="colright" style="display:table;width:150px;float:left;margin-right:10px;">
            <input id="imagefiletitle" placeholder="Choose File" readonly="readonly" class="file-upload-text" style="display:none;" />
            <div class="file-upload">
                <input id="imagefile" type="file" name="imagefile" style="display:none;" />
                @using (Html.BeginForm("ImageListUploadImageMulti", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken();
                    <span class="btn btn-success fileinput-button">
                        <span>Select file</span>
                        <input type="file" name="imageUpload" id="fileupload" multiple class="btn btn-primary" />
                    </span>
                }
            </div>
        </div>
        <input type="button" value="Upload" class="btn btn-default" id="btnUpload" style="display: none;" />
    </div>
    <input type="hidden" value="" id="currentChoose" name="currentChoose" />
    <input type="hidden" value="" id="currentChooseImage" name="currentChooseImage" />
    <input type="hidden" value="" id="currentChooseImageUrl" name="currentChooseImageUrl" />
    <div class="imagelistwrap" id="imagelistitem">
    </div>
    <div>
        <input type="button" value="Done" class="btn btn-primary" id="btnChoose" />
    </div>
</div>

<script type="text/javascript">
    var jqXHRData;
    $(document).ready(function () {
        initUpload();
        loadmoredraft();
        $("#btnUpload").on('click', function () {
            //console.log('start');
            if (jqXHRData) {
                //console.log('not null');
                $(".loadingshow").css("display", "block");
                jqXHRData.submit();
            }
        });
        $("#btnChoose").on('click', function () {
            var id = $("#currentChoose").val();
            var name = $("#currentChooseImage").val();
            var url = $("#currentChooseImageUrl").val();
            if (id == "") {
                alert("Choose the image first");
            }
            else {
                parent.document.getElementById("tempChoose").value = id;
                parent.document.getElementById("tempChooseName").value = name;
                parent.document.getElementById("tempChooseUrl").value = url;
                parent.$.fancybox.close();
            }
        });
    });
    function initUpload() {
        'use strict';
        $('#imagefile').fileupload({
            url: '@Url.Action("ImageListUploadImage", "Image")',
            dateType: 'json',
            add: function (e, data) {
                jqXHRData = data
            },
            done: function (event, data) {
                $(".loadingshow").css("display", "none");
                //console.log(data);
                if (data.result.isUpload) {
                    var cho = data.result.imageid + ",'" + data.result.imagename + "','" + data.result.imageurl + "'";

                    var html='<img id="img'+data.result.imageid+'" src="' + data.result.imageurl + '" class="imgth" onclick="chooseitem('+cho+')" />';
                    html += '<div id="iconimg' + data.result.imageid + '" class="deleteIcon glyphicon glyphicon-remove-circle" onclick="deleteImage(' + data.result.imageid + ')"></div>';

                    $("#imagelistitem").prepend(html);
                    
                    chooseitem(data.result.imageid,data.result.imagename,data.result.imageurl);
                }
                else {
                    console.log(data.result.message);
                }
            },
            fail: function (event, data) {
                $(".loadingshow").css("display", "none");
                if (data.files[0].error) {
                    alert(data.files[0].error);
                }
            }
        });
    }
    function deleteImage(id){
        var draft = parent.document.getElementById("tempChooseDraft").value;
        draft= draft.replace(id, '');
        parent.document.getElementById("tempChooseDraft").value = draft;
        $("#img"+id).remove();
        $("#iconimg"+id).remove();
    }
    function chooseitem(id, name, url) {
        var ch = $("#currentChoose").val();
        var chi = $("#currentChooseImage").val();
        var chu = $("#currentChooseImageUrl").val();
        if ($("#img" + id).hasClass("imgactive")) {
            $("#img" + id).removeClass("imgactive");
            ch = ch.replace(id, '');
            chi = chi.replace(name, '');
            chu = chu.replace(url, '');
            $("#currentChoose").val(ch);
            $("#currentChooseImage").val(chi);
            $("#currentChooseImageUrl").val(chu);
        }
        else {
            $("#img" + id).addClass("imgactive");
            $("#currentChoose").val(ch+"|"+id);
            $("#currentChooseImage").val(chi + "|" + name);
            $("#currentChooseImageUrl").val(chu + "|" + url);
        }
    }
    function loadmoredraft() {
        $("#btnShowOldImage").remove();
        $(".loadingshow").css("display", "block");
        var draft = parent.document.getElementById("tempChooseDraft").value;
        $.ajax({
            type:"POST",
            url : "@Url.Action("ImageListDataDraft","Image")",
            data : { imageid : draft },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var cho = data[i].ImageId + ",'" + data[i].Name + "','" + data[i].Url + "'";
                    var html='<img id="img' + data[i].ImageId + '" src="' + data[i].Url + '" class="imgth" onclick="chooseitem(' + cho + ')" />';
                    html += '<div id="iconimg' + data[i].ImageId + '" class="deleteIcon glyphicon glyphicon-remove-circle" onclick="deleteImage(' + data[i].ImageId + ')"></div>';
                    $("#imagelistitem").append(html);
                }
                $(".loadingshow").css("display", "none");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $(".loadingshow").css("display", "none");
            }
        });
    }
    function loadmoreimage(skip, take) {
        $("#btnShowOldImage").remove();
        $(".loadingshow").css("display", "block");
        $.ajax({
            type:"POST",
            url : "@Url.Action("ImageListData","Image")",
            data : { skip: skip, take: take },
            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    var cho = data[i].ImageId + ",'" + data[i].Name + "','" + data[i].Url + "'";

                    $("#imagelistitem").append('<img id="img' + data[i].ImageId + '" src="' + data[i].Url + '" class="imgth" onclick="chooseitem(' + cho + ')" />');

                }
                if (data.length == 5) {// still more
                    skip = skip + take;
                    $("#imagelistitem").append('<input type="button" value="Load more" class="btn btn-default" id="btnShowOldImage" onclick="loadmoreimage(' + skip + ',' + take + ')" />');
                }
                $(".loadingshow").css("display", "none");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                $(".loadingshow").css("display", "none");
            }
        });
    }
</script>

