@model Adz.User.CMS.Models.RewardModel.Reward
@{
    ViewBag.Title = "Reward View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Kendo.Mvc.UI
<script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
<link rel="stylesheet" href="@Url.Content("~/Content/fancy/jquery.fancybox.css")">
<script type="text/javascript">
    $(document).ready(function () {
        @if (Model.LastAction != "5") {
            <text>changeverticalnav(13);</text>
        }
        else
        {
            <text>changeverticalnav(14);</text>
        }
        $(document).tooltip();
        $('.fancybox').fancybox();
    });
</script>

<div class="rightheader">
    <h1>Reward Information</h1>
    <div class="pagelink">
        <a href="#">Admin Portal</a> /
        <a href="@Url.Action("Reward", "Reward")">Reward</a> /
        <a>Reward View</a>
    </div>
</div>

<div id="msgbox">
    @if (ViewBag.msg != null && ViewBag.msg != "")
    {
        if (ViewBag.msg == "a1")
        {
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Success!</h4>
                Reward successfully created.
            </div>
        }
        else if (ViewBag.msg == "a2")
        {
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Error</h4>
                Create Reward failed.
            </div>
        }
        else if (ViewBag.msg == "e1")
        {
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Success!</h4>
                Reward successfully updated.
            </div>
        }
        else if (ViewBag.msg == "e2")
        {
            <div class="alert alert-block alert-danger">
                <a class="close" data-dismiss="alert" href="#">X</a>
                <h4 class="alert-heading">Error</h4>
                Update Reward failed.
            </div>
        }
    }
</div>

<div class="rightcontent">
    <div class="rightrow">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>View Reward</h4><hr />
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Personal Information
                            </div>
                            <div class="panel-body">
                                <div class="leftcol">@Html.LabelFor(model => model.SponsorName)</div>
                                <div class="rightcol">@Model.SponsorName</div>
                                <div class="leftcol">@Html.LabelFor(model => model.SubTitle)</div>
                                <div class="rightcol">@Model.SubTitle</div>
                                <div class="leftcol">@Html.LabelFor(model => model.Description)</div>
                                <div class="rightcol">@Model.Description</div>
                                <div class="leftcol">@Html.LabelFor(model => model.RewardCriteria)</div>
                                <div class="rightcol">@Model.RewardCriteria.Name</div>
                                <div class="leftcol">@Html.LabelFor(model => model.Create)</div>
                                <div class="rightcol">@string.Format("{0:dd MMM yyyy}", Model.Create)</div>
                                <div class="leftcol">@Html.LabelFor(model => model.RewardCriteria)</div>
                                <div class="rightcol">@Model.RewardCriteria.Name</div>
                                <div class="leftcol">@Html.LabelFor(model => model.RewardType)</div>
                                <div class="rightcol">@Model.RewardType.RewardTypeName</div>
                                <div class="leftcol">@Html.LabelFor(model => model.PointRequirement)</div>
                                <div class="rightcol">@Model.PointRequirement</div>
                                <div class="leftcol">@Html.LabelFor(model => model.OneTimeFlag)</div>
                                <div class="rightcol">@(Model.OneTimeFlag == true ? "Yes" : "No")</div>
                                <div class="leftcol">@Html.LabelFor(model => model.NumberOfStock)</div>
                                <div class="rightcol">@(Model.NumberOfStock == 0 ? "Unlimited" : Model.NumberOfStock.ToString())</div>
                                <div class="leftcol">@Html.LabelFor(model => model.SubImageUrl)</div>
                                <div class="rightcol">
                                    @{
                                        var listsuburl = Model.SubImageUrl.Split('|');
                                        var listsuburllink = Model.SubImageUrlLink.Split('|');
                                    }
                                    @for (int i = 0; i < listsuburl.Count(); i++)
                                    {
                                        if (listsuburl[i] != "")
                                        {
                                            <div class="subimgplace">
                                                <a class="fancybox" href="@listsuburl[i]">
                                                    <img src="@listsuburl[i]" class="imgth" />
                                                </a>
                                                @*<div class="subimghalf">
                                                        @listsuburllink[i]
                                                    </div>*@
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Review
                            </div>
                            <div class="panel-body">
                                @(Html.Kendo().Grid<Adz.User.CMS.Models.RewardModel.Review>()
                                .Name("grid")
                                .Columns(columns =>
                                {
                                    columns.Bound(p => p.ByEmail).Title("Email");
                                    columns.Bound(p => p.Rating);
                                    columns.Bound(p => p.Message).Width(800);
                                    columns.Bound(p => p.ReviewDate).Format("{0:dd MMM yyyy}").Title("Review Date");
                                    columns.Bound(p => p.LastAction).ClientTemplate(
                                    "<a href='../Redemption/RedemptionView?RedemptionId=#=RedemptionId#' '><span class='fa fa-eye' title='View' ></span></a>" +
                                    "").Title("Action").Filterable(filter => filter.Enabled(false)).Width(120);
                                })
                                .Editable(editable => editable.Mode(GridEditMode.InLine))
                                .DataSource(dataSource => dataSource
                                    .Ajax()
                                    .PageSize(10)
                                    .Events(events => events.Error("error_handler"))
                                    .Read(read => read.Action("Review_Read", "Reward", new { ReviewId = Model.RewardId }))
                                    .Model(model =>
                                    {
                                        model.Id(p => p.RedemptionId);
                                    })
                                    .Filter(filter => filter.Add(p => p.LastAction).IsNotEqualTo("5"))
                                )
                                .Events(events => events.DataBound("CheckIfEmpty"))
                                .Filterable(filterable => filterable
                                    .Extra(false)
                                        .Operators(operators => operators
                                        .ForString(str => str.Clear()
                                            .StartsWith("Starts with")
                                            .Contains("Contains")
                                        ))
                                )
                                .Pageable(page => page
                                    .Refresh(true)
                                    .PageSizes(true)
                                )
                                .Sortable(sortable => sortable
                                    .AllowUnsort(true)
                                    .SortMode(GridSortMode.MultipleColumn))
                                .Resizable(resize => resize.Columns(true))
                                .Reorderable(reorder => reorder.Columns(true))
                                )

                                <div class="displaynone text-center" id="grid-empty">
                                    No Review Found!
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        @if (Model.LastAction != "5")
                        {
                            <a href="@Url.Action("RewardEdit","Reward")?RewardId=@Model.RewardId" class="k-button">Edit</a>
                            <a href="@Url.Action("Reward", "Reward")" class="k-button">Back</a>
                        }
                        else
                        {
                            <a href="@Url.Action("RewardArchive", "Reward")" class="k-button">Back</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var result = "";
            var message = "";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message = this;
                    });
                }
            });
            if (message != "") {
                result = '<div class="alert alert-block alert-success">'
                + '<a class="close" data-dismiss="alert" href="#">X</a>'
                + '<h4 class="alert-heading">Error</h4>'
                + message
                + '</div>';

                $("#msgbox").html(result);
            }
        }
    }

    function CheckIfEmpty(e) {
        if (e.sender._data.length == 0) {
            $('#grid').hide();
            $('#grid-empty').show();
        }
    }
</script>

